.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background: linear-gradient(to right, #2AD5C0, #54DECD);
  gap: 10px;
  height: calc(100vh - 20px);
  padding: 10px;
}
.grid-container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap:10px;
  padding:0;
  align-items:center;
}

.grid-item {
  box-sizing: border-box;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.grid-item-large {
  grid-column: span 2;
  grid-row: span 1;
  background: #8EF2D3;
}

.grid-item-medium {
  grid-column: span 1;
  grid-row: span 2;
  background: #5CAED8;
}

.grid-item-small {
  grid-column: span 1;
  grid-row: span 1;
  background: #21de76;
}

.corner {
  background: #2a9dd5;
}

#title {
  font-size:xx-large;
}
#button {
  bottom:0;
  left:0;
  position:absolute;
  background-color: rgba(0, 0, 0, 0.156);
}
.cardStuff {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
