#what {
    background-color:purple;
    width:90vw;
    height:80vh;
}
body {
    background-color:purple;
    width:90vw;
    height:80vh;
}
#toolbar {
    display: flex;
  justify-content: center;
}