.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background: linear-gradient(to right, #2AD5C0, #54DECD);
  gap: 10px;
  height: calc(100vh - 20px);
  padding: 10px;
}