body {
    background-color: red;
  }
  
  #container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #icon-image {
    width: auto;
    height: calc(100% - 8px);
    border-radius: 100%;
    justify-self: left;
  }
  
  #title {
    border: 1px solid white;
  }
  
  #toolbar {
     display: flex;
     justify-content: center;
     align-items: center;
  }
  
  #toolbar > * {
    margin: 50px; /* Adjust the margin as needed */
  }
  